.idea
.iml
target/
gradlew
gradlew.bat
gradle-*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.gradle/
gradle/
build/
data/mysql/
